:root {
    --primary-color: #111; /*#357b70*/
    --secondary-color: #d6f3ff;
    --a-hover-color: #800c70;
    --a-active-color: #f51616;
    --button-color: #034cac;
    --button-font-color: #fff;
    --button-border-bottom-color: rgba(0, 0, 0, 0.25);
    --escape-button-color: #a06c00;
    --escape-button-hover-color: #880d6d;
    --section-divider-color1: rgba(0, 0, 0, 0);
    --section-divider-color2: rgba(0, 0, 0, 75);
    --projects-bg-color: #f5f5dc;
    --projects-border-color: #0303a1;
    --font-size-h1: 36px;
    --font-size-h2: 27px;
    --font-size-body: 18px;
    --font-size-thead: 22px;
    --font-size-footnote: 16px;
    --font-size-h1-media: 24px;
    --font-size-h2-media: 18px;
    --font-weight-heading: 700;
    --font-weight-body: 400;
    --font-weight-footnote: 700;
}

body {
    background-color: var(--secondary-color);
    font-family: 'Rubik', sans-serif;
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-body);
    line-height: 1.5;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-heading)
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-heading);
}

li {
    list-style-type: none;
}

a {
    color: var(--primary-color);
}

a:hover, a:focus {
    text-decoration: none;
    color: var(--a-hover-color);
}

a:active {
    color: var(--a-active-color);
}

button, .button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--button-color);
    color: var(--button-font-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 3px solid var(--button-border-bottom-color);
    transition: opacity 1.0s;
}

button:hover, button:focus, .button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.7;
}

.button__escape {
    background-color: var(--escape-button-color);
    transition: background-color;
}

.button__escape:hover, .button__escape:focus {
    opacity: 1.0;
    background-color: var(--escape-button-hover-color);
    color: var(--button-font-color);
}

thead {
    line-height: 1.5;
    font-weight: var(--font-weight-heading);
    font-size: var(--font-size-thead);
}

td {
    padding: 5px 15px;
    line-height: 1.5;
}

.footnote {
    font-size: var(--font-size-footnote);
    font-weight: var(--font-weight-footnote);
}

#contact-form {
    text-align: center;
}

.contact-info {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

hr {
    border: 0;
	height: 2px;
	background-image: linear-gradient(to left, var(--section-divider-color1), var(--section-divider-color2), var(--section-divider-color1));
}

.social-media__link {
    text-decoration: none;
    margin: 0 5px;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
    text-align: justify;
}
    
.profile__portrait {
    float: left;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-right: 40px;
    border-radius: 35%;
}

.profile__button {
    padding: 20px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 25px;
}

.page-header__item {
    flex: 0 1 20%;
}

/*.page-header__item:first-child {
    object-fit: contain;
}*/

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.page-title, .page-description {
    text-align: center;
}

.page-footer {
    clear: both;
    display: flex;
    padding: 10px 0 30px;
    flex-direction: column;
    align-items: center;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item--active {
    text-decoration: none;
}

.about-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-catalog {
    max-width: 1100px;
    margin: 0 auto;
}

.projects {
    margin: auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.projects__item {
    background-color: var(--projects-bg-color);
    border: 8px outset var(--projects-border-color);
    border-radius: 10%;
    padding: 0 13px 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

@media all and (max-width: 500px) {
    .projects {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .projects {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .profile {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
    }
    .profile__portrait {
        align-self: center;
        margin-right: 0;
    }
    .page-header {
        flex-direction: column;
    }
    .projects {
        grid-gap: 10px;
    }
    h1 {
        font-size: var(--font-size-h1-media);
    }
    h2 {
        font-size: var(--font-size-h2-media);
    }
}