/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --primary-color: #357b70;
    --secondary-color: #e0b354;
    --dark-grey: #2b2b2b;
    --a-visited-color: #0a2868;
    --a-active-color: #64e8dd;
    --page-title-color: #010352;
    --button-color: #034cac;
    --button-font-color: #fff;
    --button-border-bottom-color: rgba(0, 0, 0, 0.25);
    --escape-button-color: #a06c00;
    --escape-button-hover-color: #880d6d;
    --section-divider-color1: rgba(0, 0, 0, 0);
    --section-divider-color2: rgba(0, 0, 0, 75);
    --projects-bg-color: #f5f5dc;
    --sun-shift-color1: #edc655;
    --sun-shift-color2: #fcffad;
    --sun-shift-color3: #f39d3a;
    --font-size-h1: 36px;
    --font-size-h2: 27px;
    --font-size-body: 18px;
    --font-size-thead: 22px;
    --font-size-footnote: 16px;
    --font-size-h1-media: 24px;
    --font-size-h2-media: 18px;
    --font-weight-heading: 700;
    --font-weight-body: 400;
    --font-weight-footnote: 700;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-body);
    line-height: 1.5;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-heading)
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-heading);
}

a {
    color: var(--primary-color);
}

a:visited {
    color: var(--a-visited-color);
}

a:hover, a:focus {
    text-decoration: none;
}

a:active {
    color: var(--a-active-color);
}

button, .button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--button-color);
    color: var(--button-font-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 3px solid var(--button-border-bottom-color);
    -webkit-transition: opacity 1.0s;
    -o-transition: opacity 1.0s;
    transition: opacity 1.0s;
}

button:hover, button:focus, .button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.7;
}

.button__escape {
    background-color: var(--escape-button-color);
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
}

.button__escape:hover, .button__escape:focus {
    opacity: 1.0;
    background-color: var(--escape-button-hover-color);
    color: var(--button-font-color);
}

thead {
    line-height: 1.5;
    font-weight: var(--font-weight-heading);
    font-size: var(--font-size-thead);
}

td {
    padding: 5px 15px;
    line-height: 1.5;
}

.svg-link {
    text-align: center;
}

.footnote {
    font-size: var(--font-size-footnote);
    font-weight: var(--font-weight-footnote);
}

#contact-form {
    text-align: center;
}

.contact-info {
    text-align: center;
}

hr {
    border: 0;
	height: 2px;
	background-image: -webkit-gradient(linear, right top, left top, from(var(--section-divider-color1)), color-stop(var(--section-divider-color2)), to(var(--section-divider-color1)));
	background-image: -o-linear-gradient(right, var(--section-divider-color1), var(--section-divider-color2), var(--section-divider-color1));
	background-image: linear-gradient(to left, var(--section-divider-color1), var(--section-divider-color2), var(--section-divider-color1));
}

.social-media__link {
    text-decoration: none;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
    text-align: justify;
}
    
.profile__portrait {
    float: left;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
}

.profile__button {
    padding: 20px;
    text-align: center;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 25px;
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
}

.page-header__item:first-child {
    -o-object-fit: contain;
       object-fit: contain;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.page-title {
    color: var(--page-title-color);
    text-align: center;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item--active {
    text-decoration: none;
}

.about-intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.about-intro__item {
    list-style-type: none;
}

.projects {
    margin: auto 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.projects__item {
    background-color: var(--projects-bg-color);
}

@media all and (max-width: 500px) {
    .projects {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .projects {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .projects {
        grid-gap: 10px;
    }
    .projects__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: var(--font-size-h1-media);
    }
    h2 {
        font-size: var(--font-size-h2-media);
    }
}

@-webkit-keyframes color-change {
    0% {
        fill: var(--sun-shift-color1);
    }
    50% {
        fill: var(--sun-shift-color2);
    }
    100% {
        fill: var(--sun-shift-color3);
    }
}

@keyframes color-change {
    0% {
        fill: var(--sun-shift-color1);
    }
    50% {
        fill: var(--sun-shift-color2);
    }
    100% {
        fill: var(--sun-shift-color3);
    }
}

.sun {
    -webkit-animation: 10s color-change infinite alternate ease-in-out;
            animation: 10s color-change infinite alternate ease-in-out;
}

@-webkit-keyframes ray1-shine {
    0% {
        fill-opacity: 50%;
    }
    33% {
        fill-opacity: 25%;
    }
    67% {
        fill-opacity: 100%;
    }
    100% {
        fill-opacity: 75%;
    }
}

@keyframes ray1-shine {
    0% {
        fill-opacity: 50%;
    }
    33% {
        fill-opacity: 25%;
    }
    67% {
        fill-opacity: 100%;
    }
    100% {
        fill-opacity: 75%;
    }
}

.ray1 {
    -webkit-animation: 2s ray1-shine infinite alternate linear;
            animation: 2s ray1-shine infinite alternate linear;
}

@-webkit-keyframes ray2-shine {
    0% {
        fill-opacity: 75%;
    }
    33% {
        fill-opacity: 50%;
    }
    67% {
        fill-opacity: 25%;
    }
    100% {
        fill-opacity: 100%;
    }
}

@keyframes ray2-shine {
    0% {
        fill-opacity: 75%;
    }
    33% {
        fill-opacity: 50%;
    }
    67% {
        fill-opacity: 25%;
    }
    100% {
        fill-opacity: 100%;
    }
}

.ray2 {
    -webkit-animation: 2s ray2-shine infinite alternate linear;
            animation: 2s ray2-shine infinite alternate linear;
}

@-webkit-keyframes ray3-shine {
    00% {
        fill-opacity: 100%;
    }
    33% {
        fill-opacity: 75%;
    }
    67% {
        fill-opacity: 50%;
    }
    100% {
        fill-opacity: 25%;
    }
}

@keyframes ray3-shine {
    00% {
        fill-opacity: 100%;
    }
    33% {
        fill-opacity: 75%;
    }
    67% {
        fill-opacity: 50%;
    }
    100% {
        fill-opacity: 25%;
    }
}

.ray3 {
    -webkit-animation: 2s ray3-shine infinite alternate linear;
            animation: 2s ray3-shine infinite alternate linear;
}